body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer-box {
    border: solid 3px black;
    width: 30rem;
    height: 30rem;
}

.inner-box {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.row {
    flex-grow: 1;
    display: flex;
}

.small-box {
    flex-grow: 1;
}